/// this could, and probably should (for consistency), be redone using controllers?
div
  h1 MY TASK IS {{ vm.task.name | uppercase }}:
  p
    code {{ vm.task.name }}
    |  - created on
    code {{ vm.task.createdAt | date:'shortDate' }}
  div
    form.form-inline(ng-submit="vm.submitUpdate(toUpdate); toUpdate = ''")
      div.form-group
        input(ng-model="toUpdate" type="text")
        button(type="submit") Update Task
